In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame({'ID':[1,2,3,4,5],
                   'Name':['Ram',np.nan,'Hari','Sita',np.nan],
                   'Age':['20','30',np.nan,np.nan,'40']})
df

   ID  Name  Age
0   1   Ram   20
1   2   NaN   30
2   3  Hari  NaN
3   4  Sita  NaN
4   5   NaN   40

In [ ]:
new = df.fillna(0)
new

In [ ]:
i=1
for x in df[['Age']]:
    if df[['Age']] > 0.0 : 
        #df.loc[df['ID']== i, 'Name'] = 'unknown'
        print(df[['Age']])
    i+=1
#df

In [ ]:
df.loc[df['Age']== np.nan, 'Name'] = 'unknown'
df